/* You can add global styles to this file, and also import other style files */
*{
    border: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: tahoma;
    text-decoration: none;
}