<nav class="navbar bg-body-tertiary" >
    <div class="container-fluid" style="background-color: black;">
      <a class="navbar-brand" href="#" style="color: whitesmoke;">
        <img src="../favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" style="margin-right: 10px;">
        Angular Routing
      </a>
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Contact">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>